{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div class="author-profile" itemscope itemtype="http://schema.org/Person">
  <div class="author-profile__avatar">
    {% if author.avatar contains "://" %}
      <img src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
      <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" alt="{{ author.name }}">
    {% endif %}
  </div>

  <div class="author-profile__content">
    <h3 class="author-profile__name" itemprop="name">{{ author.name }}</h3>
    {% if author.bio %}
      <p class="author-profile__bio" itemprop="description">{{ author.bio }}</p>
    {% endif %}
  </div>

  {% if author.location or author.employer %}
  <div class="author-profile__meta">
    {% if author.location %}
      <span class="author-profile__location">
        <i class="fas fa-map-marker-alt" aria-hidden="true"></i> {{ author.location }}
      </span>
    {% endif %}
    {% if author.employer %}
      <span class="author-profile__employer">
        <i class="fas fa-building" aria-hidden="true"></i> {{ author.employer }}
      </span>
    {% endif %}
  </div>
  {% endif %}

  <div class="author-profile__links">
    {% if author.email %}
      <a href="mailto:{{ author.email }}" class="author-profile__link" aria-label="Email">
        <i class="fas fa-envelope" aria-hidden="true"></i>
      </a>
    {% endif %}
    {% if author.github %}
      <a href="{% if author.github contains '://' %}{{ author.github }}{% else %}https://github.com/{{ author.github }}{% endif %}" class="author-profile__link" aria-label="GitHub">
        <i class="fab fa-github" aria-hidden="true"></i>
      </a>
    {% endif %}
    {% if author.googlescholar %}
      <a href="{{ author.googlescholar }}" class="author-profile__link" aria-label="Google Scholar">
        <i class="fas fa-graduation-cap" aria-hidden="true"></i>
      </a>
    {% endif %}
    {% if author.researchgate %}
      <a href="{{ author.researchgate }}" class="author-profile__link" aria-label="ResearchGate">
        <i class="fab fa-researchgate" aria-hidden="true"></i>
      </a>
    {% endif %}
    {% if author.orcid %}
      <a href="{{ author.orcid }}" class="author-profile__link" aria-label="ORCID">
        <i class="fab fa-orcid" aria-hidden="true"></i>
      </a>
    {% endif %}
    {% if author.linkedin %}
      <a href="{% if author.linkedin contains '://' %}{{ author.linkedin }}{% else %}https://www.linkedin.com/in/{{ author.linkedin }}{% endif %}" class="author-profile__link" aria-label="LinkedIn">
        <i class="fab fa-linkedin" aria-hidden="true"></i>
      </a>
    {% endif %}
    {% if author.twitter %}
      <a href="{% if author.twitter contains '://' %}{{ author.twitter }}{% else %}https://twitter.com/{{ author.twitter }}{% endif %}" class="author-profile__link" aria-label="Twitter">
        <i class="fab fa-twitter" aria-hidden="true"></i>
      </a>
    {% endif %}
    {% if author.youtube %}
      <a href="{% if author.youtube contains '://' %}{{ author.youtube }}{% else %}https://www.youtube.com/{{ author.youtube }}{% endif %}" class="author-profile__link" aria-label="YouTube">
        <i class="fab fa-youtube" aria-hidden="true"></i>
      </a>
    {% endif %}
    {% if author.webofscience %}
      <a href="{{ author.webofscience }}" class="author-profile__link" aria-label="Web of Science">
        <i class="fas fa-globe" aria-hidden="true"></i>
      </a>
    {% endif %}
  </div>
</div>
